body {
    font-family: Arial, Helvetica, sans-serif;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    width: 380px;
    padding: 55px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Inputs */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #444;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #222;
}

/* Resultado tipo tarjeta */
#resultado {
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background: #f9f9f9;
    display: none;
    max-width: 100%;
}

.invoice-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
    text-align: left;
    /* Reset text align */
}

.invoice-divider {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

.invoice-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}

#tituloResultado {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

#valorResultado {
    text-align: left;
    width: 100%;
}
